---
import SalesLayout from '@layouts/SalesLayout.astro';

import MembershipSignupForm from '@components/forms/MembershipSignupForm.astro';
---

<SalesLayout
  title="Word Lid"
  description="Meld je aan voor een lidmaatschap bij FitCity Culemborg."
>
  <section class="py-16 md:py-24 min-h-screen">
    <div class="z-10 relative">
      <MembershipSignupForm client:load />
    </div>
  </section>
</SalesLayout>
